/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   JPF Style Sheet
   Author: Fatima Harrison
   Date:   06/15/23

   Filename:         jpf.css
   Supporting Files: 

*/

/* Default styles */

* {
  margin: 0px;
  list-style: none;
  padding: 0px;
  text-decoration: none;
}

/* Body styles */
body {
  font-family: Verdana, Geneva, sans-serif;
  width: 900px;
  margin: 0px auto;
}

caption {
  text-align: center;
}

table.subTable {
  border-collapse: collapse;
  width: 110px;
}

tbody td {
  border: 5px outset grey;
  border-collapse: collapse;
}

th {
  color: grey;
  font-size: 8px;
  height: 40px;
}

table tr td {
  border: 1px solid black;
  color: blue;
  height: 40px;
  box-shadow: 2px;
  text-align: center;
  vertical-align: middle;
}

td.goldBox {
  background-image: url(gold.jpg);
  background-position: 50%;
}

td.greenBox {
  background-image: url(green.jpg);
  background-position: 50%;
}

/* Main Page Section */
section {
  float: left;
  margin-top: 10px 0px 0px 20px;
  width: 500px;
}
article h1 {
  font-size: 14px;
}

p {
  font-size: 10px;
  margin: 10px 0px;
  width: 600px;
}
