/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: 
   Date:   

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

table {
  border-collapse: collapse;
}

tbody td {
  border: 5px outset gray;
}

th {
  color: gray;
  font-size: 8px;
  height: 40px;
}

table tr td {
  border: 1px solid black;
  color: blue;
  height: 40px;
  box-shadow: 2px;
  text-align: center;
  vertical-align: middle;
}

td.goldBox {
  background-color: src= "gold.jpg";
  background-image: 50%;
}

td.greenBox {
  background-color: src= "green.jpg";
  background-image: 50%;
}

caption {
  text-align: center;
}


